version: '3.8'

services:
  bot:
    build: .
    env_file: .env
    command: >
      sh -c "
        alembic stamp head && 
        alembic revision --autogenerate && 
        alembic upgrade head &&
        pybabel compile -d locale -D lang &&
        python app.py"
    volumes:
      - ./sqlite.db:/app/sqlite.db
    restart: always

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
